name: GitHub Actions Demo

on: [commit]

jobs:
  explore-github-actions:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Run a simple command
        run: echo "Hello, world! This job is running on a ${{ runner.os }} server."
